/* Global */

body {
    font-family: 'Barlow Semi Condensed';
    border-left: 30px solid #48605B;
    border-right:30px solid #48605B;
}


/*Enter*/

.light {
    background-color:#fbf3e5
}

.nooverflow {
    max-width: 100%;
    overflow: hidden;
}

.enterimages {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.CPlogo img{
    height: 500px;
}

.CRlogo img{
    height: 500px;
    margin-top: 20%;
}



/* Header */
.siteTitle {
    font-family: Cormorant;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0% 20% 0% 10%;
    padding: 2% 0% 2% 0%;
}

header {
    background-image: url(/images/gradient_horizontal_wallpaper_sunset_reef.png);
}

nav {
    font-family: Cormorant;
    font-size: 28px;
    display: flex;
    flex-direction: row;
}

nav a {
    margin: 0% 5% 0% 5%;
    text-decoration: none;
    color: black;
}

.name {
    text-decoration: none;
    font-size: 24pt;
    color: black;
    font-weight: 700;
}

/*Index*/

.heroTitle {
    font-size: 22pt;
    text-align: center;
    margin: 5% 12% 0% 12%;
    line-height: 130%;
}

.heroTitle2 {
    font-size: 22pt;
    text-align: center;
    margin: 0% 12% 5% 12%;
    line-height: 130%;
}

.bubbles img{
    width: 60%;
}

.bubbles {
    text-align: center;
}

.imageAcross img{
    width: 100%;
    margin-bottom: 5%;
}

.indexInfo p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20pt;
    padding-left: 10%;
    padding-right: 10%;
}

.indexInfoRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.indexInfoLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.indexInfoRight img{
    height: 250px;

}

.indexInfoLeft img{
    height: 250px;
}

.indexInfoTitle {
    font-weight: 500;
}

/*About*/

.aboutField {
    display: flex;
    flex-direction: row;
}

.headshotImage img {
    width: 350px;
    padding: 20% 15% 0% 35%;
}

.bioText {
    margin: 5% 5% 0% 20%;
}

.bioText h1 {
    font-family: 'Cormorant';
    font-size: 36pt;
    margin-bottom: 0px;
}

.bioText h2 {
    font-family: 'Cormorant';
    font-size: 24pt;
    font-weight: 500;
    margin-top: 0px;
    padding-top: 0px;
}

.bioText p {
    font-size: 20pt;
    font-weight: 300;
}

.testimonialBlockleft img {
    border-radius: 50%;
    margin-left: 15%;
    height:200px;
}

.testimonialBlockleft p {
    margin-right: 15%;
    margin-left: 5%;
    text-align: justify;
}

.testimonialBlockleft {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.testimonialBlockright {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.testimonialBlockright img {
    border-radius: 50%;
    margin-right: 15%;
    height: 200px;
}

.testimonialBlockright p {
    margin-left: 15%;
    margin-right: 5%;
    text-align: right;
}

.testimonialTitle {
    display: flex;
    flex-direction: row;
    font-family: 'Cormorant';
    align-items: center;
    justify-content: center;
    margin-top: 10%;
}

.testimonialTitle h1 {
    margin: 0% 5% 0% 5%;
}

.testimonialTitle img {
    height: 50px;
}
 
.bold {
    font-weight: 700;
}

/*projects*/

.projectBlock img {
height: 250px;
}

.projectbody {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

.projectTitle {
    font-family: Cormorant;
    font-size: 36pt;
    text-align: center;
    margin-bottom: 5%;
}

.CRheader {
    background-image: url(/images/cr_gradiant.png);
}

.crAbout {
    font-family: "Barlow Semi Condensed";
    font-weight: 300;
    margin: 5% 12% 5% 12%;
    text-align: center;
}

.yogaImage {
    width: 100%;
}

.yogaToken {
    height: 100px;
    margin-left: 50%;
    margin-right: 50%;
    margin-top: 5%;
}

/*contact*/

.collapsible {
    background-color: #ffa658;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 24pt;
  }

  .collapsibledark {
    background-color: #6b9976;
    color: #ffffff;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 24pt;
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: #b26f35;
  }

  .active, .collapsibledark:hover {
    background-color: #48605b;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content {
    padding: 0 18px;
    background-color: #fbf3e5;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    font-size: 18pt;
    padding-left: 20%;
    padding-right: 20%;
  }

  .faqtitle {
    font-family: Cormorant;
    font-size: 36pt;
    font-weight: 900;
  }

  .calendlybutton {
    background-color: #ffa658;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
    margin-bottom: 100px;
  }

  .space {
    margin-bottom: 100px;
  }

  .getintouch {
      display: flex;
      flex-direction: column;
      text-align: center;
  }

  .faqtitle {
      text-align: center;
  }

  .faqtitle a {
      margin-bottom: 0;
  }
